.teamlist{
    display: grid;
    margin-top: 80px;
    /* grid-row: auto; */
    margin-bottom: 168px;
    width: 1450px;
    grid-column: 3;
    margin-left: 40px;
    /* flex-shrink: auto; */
    /* grid-template-columns: 7fr 1fr; */
     grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
 
}

.introText{
    background: linear-gradient(90deg, rgb(13, 34, 1) 0%, rgb(1, 1, 24) 80%);

}